
<main class="main">
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>CSV Data Parser & Visualiser App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="share" (click)="redirectToLinkedIn()">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  
  <app-file-loader></app-file-loader>
  <app-data-table class="table"></app-data-table>
</main>


<router-outlet></router-outlet>
