div {
	margin-top: 20px;
	text-align: center;
}

mat-spinner {
	margin: 0 20px;
}

.file-input-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.file-button {
	display: flex;
	  align-items: center;
	  justify-content: center;
	  height: 100px;
	  width: 250px;
	  border-radius: 10px;
	  cursor: pointer;
	  margin-bottom: 30px;
  }
  
  .file-input-button {
	background-color: #673AB71A;
  }

/* Adjust the styling of the label to match your preferences */
label {
	padding: 8px 16px;
}

.center {
	display: flex; 
	justify-content: center; 
	align-items: center;
}

/* +++++++ STYLES +++++++ */
.wrapper {
	height: calc(100vh - 20px);
}
